/* Apply basic styling to the navigation bar */
.navbar {
    background-color: #464646; /* Change the background color as needed */
    overflow: hidden;
}

/* Style the navigation links */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color when hovering */
.navbar a:hover {
    background-color: #555; /* Change the hover background color as needed */
}

